/* Font Import */
@font-face {
  font-family : 'Nasalization';
  src         : url('../fonts/nasalization-rg.otf') format('opentype');
  /* If using a .ttf file, change the format to 'truetype' */
  font-weight : normal;
  font-style  : normal;
}

/* General Styles */
*, *:before, *:after {
  box-sizing : border-box;
}

/* General body and html styling */
body, html {
  margin              : 0;
  padding             : 0;
  min-height          : 100vh;
  background-size     : cover;
  background-position : center;
  font-family         : 'Nasalization', sans-serif;
  display             : flex;
  flex-direction      : column;
  /*color               : #444;*/
  font-size           : 11px;
  overflow-x          : hidden;
  overflow-y          : hidden;
}

/*body {*/
/*  background-image : url('/media/01/harrison/starsbackground.jpg');*/
/*}*/

p {
  font-family : 'Nasalization', sans-serif !important;
}

/* Header Title Styles */
.header-title {
  position      : absolute;
  top           : 0%;
  left          : 50%;
  transform     : translateX(-50%);
  /*color         : #818589;*/
  font-family   : 'Nasalization', sans-serif !important;
  font-size     : 4vw;
  text-align    : center;
  margin-bottom : 0.5em;
  padding-top   : 0.25em;
  width         : 100%;
}

.container-fixed {
  max-width     : 400px; /* Reduced by 50% */
  height        : auto;
  margin        : 0 auto;
  margin-top    : 0.555rem; /* Reduced by 50% */
  margin-bottom : 0.5rem; /* Reduced by 50% */
}

a {
  text-decoration : none;
}

a.btn.btn-primary {
  text-decoration : none;
}

.btn-primary {
  /*color            : #818589;*/
  background-color : black;
  border           : none;
  padding          : 0;
}

.hide-initially {
  display : none;
}

.show-initially {
  display : block; /* or display: inline-block; for buttons */
}

footer {
  order            : 4;
  width            : 100%;
  text-align       : left;
  margin-top       : 7px; /* This can be removed if not needed */
  background-color : transparent;
  /*color            : gray;*/
  position         : fixed; /* Fixed positioning */
  bottom           : 9px;
  left             : 0; /* Full width */
  z-index          : 1000;
  padding-left     : 18px;
  font-size        : 7px;
  display          : flex;
  align-items      : center;
  justify-content  : flex-start;
}

footer a {
  /*color           : gray;*/
  text-decoration : none;
}

.hidden {
  display : none;
}

.text-container.hidden {
  display : none; /* Hide the element initially */
}

.stills-button{
    /*border: 3px solid gray !important;*/
     border-radius    : 7px; /* Set consistent border radius for overlay */
    margin-left: 9px;
    padding: 0px;
    width: 72px;
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    line-height: 1.2;
    text-align: center;
}
.stills-button:hover,
.stills-button:active,
.stills-button:focus {
    /*border: 3px solid gray !important; !* Ensure border persists on all states *!*/
}
